.wrapper {
    margin: 0 auto;
    width: 1280px;
}

.title-bar {
    width: 100%;
    Height: 98px;
    background-color: #000000;
}

.title-bar h1 {
    padding-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #dddedf;
}

.hero-container {
    position: relative;
    width: 1280px;
    height: 500px;
    margin-bottom: 20px;
    background: #ffffff url(img/184828209.jpg) no-repeat center 55%;
    background-size: 100%;
}

.hero-gradient {
    position: absolute;
    bottom: 0;
    width: 1280px;
    height: 215px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.80+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
}

.quote-container {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.hero-container q {
    display: block;
    font-size: 34px;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
}

.hero-container span {
    display: block;
    padding-right: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    text-align: right;
    text-transform: uppercase;
}

.hero-container q,
.hero-container span {
    text-shadow: 2px 2px #000000;
}

.body-grid {
    height: 1280px;
    position: relative;
    border: solid 1px red;
}

.grid-block1 {
    width: 410px;
    height: 850px;
    margin-bottom: 20px;
}

.container-block1 {
    position: relative;
    width: 410px;
    height: 850px;
    background: url(img/608158495.jpg) no-repeat center 55%;
    background-size: 200%;
}

.container-block2 {
    position: relative;
    width: 850px;
    height: 410px;
    background: url(img/608158495.jpg) no-repeat center 55%;
    background-size: 200%;
}

.block2-button-container {
    position: absolute;
    left: 0;
    width: 273px;
    height: 410px;
    background-color: #3e5aa0;
}

.play-header {
    width: 410px;
    height: 190px;
    background-color: rgba(0, 0, 0, 0.8);
}

.block1-button-container {
    position: absolute;
    bottom: 0;
    width: 410px;
    height: 217px;
    background-color: #e64639;
}

.block-h2 {
    display: block;
    padding: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 50px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;
}

.block-paragraph {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    text-align: left;
}

.block2-span {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
    text-align: left;
}

.block-quote q {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    line-height: 31px;
    color: #ffffff;
}

.block-quote span {
    display: block;
    padding-right: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    text-align: right;
}

.button1,
.button2 {
    position: absolute;
    display: block;
    height: 85px;
    width: 370px;
    background-color: rgba(255, 255, 255, 0.7);
}

.button1 {
    left: 20px;
    bottom: 20px;
}

.button2 {
    right: 20px;
    bottom: 20px;
}

.button-span {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 85px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.grid-block3 {
    width: 420px;
    height: 420px;
    margin-bottom: 20px;
    margin-left: 20px;
    line-height: 200px;
    text-align: center;
}

.grid-block2 {
    width: 850px;
    height: 410px;
    margin-bottom: 20px;
    line-height: 96px;
    text-align: center;
}

.floatleft {
    float: left !important;
}

.floatright {
    float: right !important;
}

.solid-red {
    background: #E51400;
}

.solid-darkgreen {
    background: #016C38;
}

.solid-orange-2 {
    background: #FF6600;
}

.solid-blue {
    background: #00BBE2;
}



/*
a:hover {
               background-color: rgba(255,255,255,0.20);}*/
